<h1>Find your favourite programming language!</h1>
<form method="POST" action="/favourite_language">
  <input type="text" placeholder="Enter Github username" name="username">
  <input type="submit">
</form>
