<section class="hero">
  <h1>Find a user's favourite coding language by entering their Github username below.</h1>

  <div class="username-form">
    <form method="POST" action="/favourite_language">
      <input type="text" placeholder="Enter Github username" name="username">
      <input type="submit">
    </form>
  </div>
</section>

