<html>
  <head>
    <title>Unboxed Github Favourite Language by James Cook</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="https://github.com/jamesmarkcook/unboxed_fav_lang">View the code</a>
        <span class="float right">Written by <a href="https://github.com/jamesmarkcook">jamesmarkcook</a></span>
      </nav>
      <section id="main">
        <%= yield %>
      </section>
      <footer>A technical test undertaken for <a href="https://unboxed.co/">Unboxed.co</a></footer>
    </div>
  </body>
</html>
