<div class="hero">
  <h1>Username can't be blank. Please try again.</h1>

  <div class="username-form">
    <form method="POST" action="/favourite_language">
      <input type="text" placeholder="Try another Github username..." name="username">
      <input type="submit" value="Find favourite language">
    </form>
  </div>
</div>
